polkit.addRule(function(action, subject) {
    if (action.id !== "org.freedesktop.systemd1.manage-units" ||
        subject.user !== "trainmeet-server" ||
        action.lookup("verb") !== "start") {
        return polkit.Result.NOT_HANDLED;
    }

    if (action.lookup("unit") === "trainmeet-server-update.service") {
        return polkit.Result.YES;
    }

    return polkit.Result.NOT_HANDLED;
});
