[Unit]
Description=Update TrainMeet Server from GitHub (%i channel)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/trainmeet-server-update %i
Nice=10

